# --- For Web App & Data Manipulation ---
streamlit
pandas
numpy
pyarrow

# --- For Machine Learning ---
scikit-learn
joblib

# --- For Plotting & Visualization ---
matplotlib
altair
pydeck

# --- For Natural Language Processing ---
nltk


seaborn
wordcloud